name: Build and push packages

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  validate_label: 
    runs-on: ubuntu-latest
    steps: 
      - name: "Validate label"
        if: | 
          (contains(github.event.pull_request.labels.*.name, 'backend') ||
            contains(github.event.pull_request.labels.*.name, 'frontend') || 
            contains(github.event.pull_request.labels.*.name, 'indexer') || 
            contains(github.event.pull_request.labels.*.name, 'data contract') || 
            contains(github.event.pull_request.labels.*.name, 'design') || 
            contains(github.event.pull_request.labels.*.name, 'documentation')) == false &&
          (github.event_name == 'pull_request')        
        run: exit 1
      
  test_data_contract:
    needs: validate_label
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: NPM install
        run: cd packages/data-contract && npm install

      - name: Check lint rules
        run: cd packages/data-contract && npm run lint

  test_frontend:
    needs: validate_label
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: NPM install
        run: cd packages/frontend && npm install

      - name: Check lint rules
        run: cd packages/frontend && npm run lint

  test_api:
    needs: validate_label
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # - name: Use Node.js
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: '20.x'

      # - name: NPM install
      #   run: cd packages/api && npm install

      # - name: Check lint rules
      #   run: cd packages/api && npm run lint

      # - name: Run unit tests

      # - name: Migrate DB
      #   run: cd packages/api && POSTGRES_HOST=127.0.0.1 POSTGRES_DB=postgres POSTGRES_USER=postgres POSTGRES_PASS=postgres POSTGRES_DB=postgres npm run db:migrate

      # - name: Run integration tests
      #   run: cd packages/api && POSTGRES_HOST=127.0.0.1 POSTGRES_DB=postgres POSTGRES_USER=postgres POSTGRES_PASS=postgres POSTGRES_DB=postgres npm run test:integration

  build_api:
    runs-on: ubuntu-latest
    needs: validate_label
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: build api
        run: echo "build api!"
  build_indexer:
    needs: validate_label
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: build indexer
        run: echo "build indexer!"
  deploy:
    runs-on: ubuntu-latest
    needs: [build_api, build_indexer, test_data_contract, test_api, test_frontend]
    if: github.event_name != 'pull_request' || github.event.pull_request.merged == true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Deploy to the server
        run: echo "deploy!!"
  
        
